@using Contoso.Registration.Services.Api.Commands;
@using System.Globalization
@inject IStringLocalizer<AddVehicle> Loc

<EditForm Model="@addVehicleCommand" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <InputText @bind-Value="addVehicleCommand.Name" Placeholder=@Loc["Name"] />
            <ValidationMessage For="() => addVehicleCommand.Name"/>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <InputText @bind-Value="addVehicleCommand.Brand" Placeholder=@Loc["Brand"] />
            <ValidationMessage For="() => addVehicleCommand.Brand"/>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <InputSelect @bind-Value="addVehicleCommand.Category" TValue="string" Placeholder=@Loc["Category"]>
                <option value="">@Loc["Select"]</option>
                @foreach (string category in categories)
                {
                    <Option Value="@category">@category</Option>
                }
            </InputSelect>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <button type="submit">Save</button>
        </Column>
    </Row>
</EditForm>